<ion-header [translucent]="true">
  <ion-toolbar  class="ion-text-center" color="secondary">
    <ion-title>
      Text Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="margin ion-text-center">
    <ion-textarea #textarea
      [autoGrow]="true"
      label="O que quer ouvir?"
      labelPlacement="floating"
      fill="outline"
    ></ion-textarea>
      <ion-grid>
        <ion-row>
          <ion-col  size="3">
            <ion-fab-button (click)="speak(+taxa, +tom,textarea)">
            <ion-icon name="play"></ion-icon>
          </ion-fab-button></ion-col>
          <ion-col  size="3">
            <ion-fab-button (click)="stop()" color="danger">
              <ion-icon name="stop" ></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col  size="3">
            <ion-fab-button (click)="clear(textarea)" color="warning">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col  size="3">
            <ion-fab-button (click)="speakStart(textarea)">
              Por fala
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <label>Taxa</label>
        <ion-range #taxa
          min="0.0" max="4.0"
          pin="true"
          color="primary"
          (ionChange)="taxaChange(+taxa, $event)">
        </ion-range>
      </ion-item>
      <ion-item>
        <label>Tom</label>
        <ion-range #tom
          min="0.0" max="2.0"
          pin="true"
          color="success"
          (ionChange)="tomChange(+tom, $event)">
        </ion-range>
      </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-header>
    <ion-toolbar  class="ion-text-center" color="secondary">
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-footer>
